----
# Course 2 - Week03 - Day02 - Practice Exercise 02
----

# Agenda
- Pandas
  - Groupby
  - Pivot Tables
  - Duplicate

# Pandas in Python
- Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures
- Using Pandas, we can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data â€” load, prepare, manipulate, model, and analyze
- Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc

### Key Features of Pandas
- Fast and efficient DataFrame object with default and customized indexing
- Tools for loading data into in-memory data objects from different file formats
- Data alignment and integrated handling of missing data
- Reshaping and pivoting of date sets
- Label-based slicing, indexing and subsetting of large data sets
- Columns from a data structure can be deleted or inserted
- Group by data for aggregation and transformations
- High performance merging and joining of data
- Time Series functionality

### 1. Dataframe groupby method

In [ ]:
# Use this command if using google-colab
# from google.colab import drive
# drive.mount('/content/drive')

#### Import the required libraries and read the 'nba.csv' dataset

In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:/Users/bhara/Downloads/Datasets+for+Practice+Exercise+C2-W03-DY02-PE02/nba.csv")
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [19]:
df.iloc[200:250]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
200,George Hill,Indiana Pacers,3.0,PG,30.0,6-3,188.0,IUPUI,8000000.0
201,Jordan Hill,Indiana Pacers,27.0,C,28.0,6-10,235.0,Arizona,4000000.0
202,Solomon Hill,Indiana Pacers,44.0,SF,25.0,6-7,225.0,Arizona,1358880.0
203,Ty Lawson,Indiana Pacers,10.0,PG,28.0,5-11,195.0,North Carolina,211744.0
204,Ian Mahinmi,Indiana Pacers,28.0,C,29.0,6-11,250.0,NaN,4000000.0
205,C.J. Miles,Indiana Pacers,0.0,SF,29.0,6-6,231.0,NaN,4394225.0
206,Glenn Robinson III,Indiana Pacers,40.0,SG,22.0,6-7,222.0,Michigan,1100000.0
207,Rodney Stuckey,Indiana Pacers,2.0,PG,30.0,6-5,205.0,Eastern Washington,7000000.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,6-11,243.0,Texas,2357760.0
209,Shayne Whittington,Indiana Pacers,42.0,PF,25.0,6-11,250.0,Western Michigan,845059.0
210,Joe Young,Indiana Pacers,1.0,PG,23.0,6-2,180.0,Oregon,1007026.0
211,Giannis Antetokounmpo,Milwaukee Bucks,34.0,SF,21.0,6-11,222.0,NaN,1953960.0
212,Jerryd Bayless,Milwaukee Bucks,19.0,PG,27.0,6-3,200.0,Arizona,3000000.0
213,Michael Carter-Williams,Milwaukee Bucks,5.0,PG,24.0,6-6,190.0,Syracuse,2399040.0
214,Jared Cunningham,Milwaukee Bucks,9.0,SG,25.0,6-4,195.0,Oregon State,947276.0
215,Tyler Ennis,Milwaukee Bucks,11.0,PG,21.0,6-3,194.0,Syracuse,1662360.0
216,John Henson,Milwaukee Bucks,31.0,PF,25.0,6-11,229.0,North Carolina,2943221.0
217,Damien Inglis,Milwaukee Bucks,17.0,SF,21.0,6-8,246.0,NaN,855000.0
218,O.J. Mayo,Milwaukee Bucks,3.0,SG,28.0,6-5,210.0,USC,8000000.0
219,Khris Middleton,Milwaukee Bucks,22.0,SG,24.0,6-8,234.0,Texas A&M,14700000.0
220,Greg Monroe,Milwaukee Bucks,15.0,C,26.0,6-11,265.0,Georgetown,16407500.0
221,Steve Novak,Milwaukee Bucks,6.0,SF,32.0,6-10,225.0,Marquette,295327.0
222,Johnny O'Bryant III,Milwaukee Bucks,77.0,PF,23.0,6-9,257.0,LSU,845059.0
223,Jabari Parker,Milwaukee Bucks,12.0,PF,21.0,6-8,250.0,Duke,5152440.0
224,Miles Plumlee,Milwaukee Bucks,18.0,C,27.0,6-11,249.0,Duke,2109294.0
225,Greivis Vasquez,Milwaukee Bucks,21.0,PG,29.0,6-6,217.0,Maryland,6600000.0
226,Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,6-6,202.0,UNLV,1733040.0
227,Justin Anderson,Dallas Mavericks,1.0,SG,22.0,6-6,228.0,Virginia,1449000.0
228,J.J. Barea,Dallas Mavericks,5.0,PG,31.0,6-0,185.0,Northeastern,4290000.0
229,Jeremy Evans,Dallas Mavericks,21.0,SF,28.0,6-9,200.0,Western Kentucky,1100602.0
230,Raymond Felton,Dallas Mavericks,2.0,PG,31.0,6-1,205.0,North Carolina,3950313.0
231,Devin Harris,Dallas Mavericks,34.0,PG,33.0,6-3,185.0,Wisconsin,4053446.0
232,David Lee,Dallas Mavericks,42.0,PF,33.0,6-9,245.0,Florida,2085671.0
233,Wesley Matthews,Dallas Mavericks,23.0,SG,29.0,6-5,220.0,Marquette,16407500.0
234,JaVale McGee,Dallas Mavericks,11.0,C,28.0,7-0,270.0,Nevada,1270964.0
235,Salah Mejri,Dallas Mavericks,50.0,C,29.0,7-2,245.0,NaN,525093.0
236,Dirk Nowitzki,Dallas Mavericks,41.0,PF,37.0,7-0,245.0,NaN,8333334.0
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0
238,Chandler Parsons,Dallas Mavericks,25.0,SF,27.0,6-10,230.0,Florida,15361500.0
239,Dwight Powell,Dallas Mavericks,7.0,PF,24.0,6-11,240.0,Stanford,845059.0
240,Charlie Villanueva,Dallas Mavericks,3.0,PF,31.0,6-11,232.0,Connecticut,947276.0
241,Deron Williams,Dallas Mavericks,8.0,PG,31.0,6-3,200.0,Illinois,5378974.0
242,Trevor Ariza,Houston Rockets,1.0,SF,30.0,6-8,215.0,UCLA,8193030.0
243,Michael Beasley,Houston Rockets,8.0,SF,27.0,6-10,235.0,Kansas State,306527.0
244,Patrick Beverley,Houston Rockets,2.0,PG,27.0,6-1,185.0,Arkansas,6486486.0
245,Corey Brewer,Houston Rockets,33.0,SG,30.0,6-9,186.0,Florida,8229375.0
246,Clint Capela,Houston Rockets,15.0,PF,22.0,6-10,240.0,NaN,1242720.0
247,Sam Dekker,Houston Rockets,7.0,SF,22.0,6-9,230.0,Wisconsin,1646400.0
248,Andrew Goudelock,Houston Rockets,0.0,PG,27.0,6-3,200.0,Charleston,200600.0
249,James Harden,Houston Rockets,13.0,SG,26.0,6-5,220.0,Arizona State,15756438.0

#### Check the information about this data and its dtypes and write your inferences.

In [6]:
df.info()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

#### Check for the missing values.

In [9]:
df.isnull().sum().sort_values(ascending=False)
df.isnull().sum().sort_values(ascending=False)*100/len(df)

College     18.558952
Salary       2.620087
Name         0.218341
Team         0.218341
Number       0.218341
Position     0.218341
Age          0.218341
Height       0.218341
Weight       0.218341
dtype: float64

##### PLEASE NOTE:: There are some null values present in all the features, We can remove them. (How they can be removed will be covered in future sessions in detail)

#### Create a group with the groupby function using 'Teams'

In [12]:
groups=df.groupby(by='Team')
groups
groups.first()

,Name,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,
Atlanta Hawks,Kent Bazemore,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
Boston Celtics,Avery Bradley,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Brooklyn Nets,Bojan Bogdanovic,44.0,SG,27.0,6-8,216.0,Oklahoma State,3425510.0
Charlotte Hornets,Nicolas Batum,5.0,SG,27.0,6-8,200.0,Virginia Commonwealth,13125306.0
Chicago Bulls,Cameron Bairstow,41.0,PF,25.0,6-9,250.0,New Mexico,845059.0
Cleveland Cavaliers,Matthew Dellavedova,8.0,PG,25.0,6-4,198.0,Saint Mary's,1147276.0
Dallas Mavericks,Justin Anderson,1.0,SG,22.0,6-6,228.0,Virginia,1449000.0
Denver Nuggets,Darrell Arthur,0.0,PF,28.0,6-9,235.0,Kansas,2814000.0
Detroit Pistons,Joel Anthony,50.0,C,33.0,6-9,245.0,UNLV,2500000.0
Golden State Warriors,Leandro Barbosa,19.0,SG,33.0,6-3,194.0,North Carolina,2500000.0
Houston Rockets,Trevor Ariza,1.0,SF,30.0,6-8,215.0,UCLA,8193030.0
Indiana Pacers,Lavoy Allen,5.0,PF,27.0,6-9,255.0,Temple,4050000.0
Los Angeles Clippers,Cole Aldrich,45.0,C,27.0,6-11,250.0,Kansas,1100602.0
Los Angeles Lakers,Brandon Bass,2.0,PF,31.0,6-8,250.0,LSU,3000000.0
Memphis Grizzlies,Jordan Adams,3.0,SG,21.0,6-5,209.0,UCLA,1404600.0
Miami Heat,Chris Bosh,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
Milwaukee Bucks,Giannis Antetokounmpo,34.0,SF,21.0,6-11,222.0,Arizona,1953960.0
Minnesota Timberwolves,Nemanja Bjelica,88.0,PF,28.0,6-10,240.0,Louisville,3950001.0
New Orleans Pelicans,Alexis Ajinca,42.0,C,28.0,7-2,248.0,California,4389607.0
New York Knicks,Arron Afflalo,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0
Oklahoma City Thunder,Steven Adams,12.0,C,22.0,7-0,255.0,Pittsburgh,2279040.0
Orlando Magic,Dewayne Dedmon,3.0,C,26.0,7-0,245.0,USC,947276.0
Philadelphia 76ers,Elton Brand,42.0,PF,37.0,6-9,254.0,Duke,947276.0
Phoenix Suns,Eric Bledsoe,2.0,PG,26.0,6-1,190.0,Kentucky,13500000.0
Portland Trail Blazers,Cliff Alexander,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
Sacramento Kings,Quincy Acy,13.0,SF,25.0,6-7,240.0,Baylor,981348.0
San Antonio Spurs,LaMarcus Aldridge,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
Toronto Raptors,Bismack Biyombo,8.0,C,23.0,6-9,245.0,Missouri,2814000.0
Utah Jazz,Trevor Booker,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
Washington Wizards,Alan Anderson,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0

#### Display the first values of each group

In [17]:
group.first()

,Name,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,
Atlanta Hawks,Kent Bazemore,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
Boston Celtics,Avery Bradley,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Brooklyn Nets,Bojan Bogdanovic,44.0,SG,27.0,6-8,216.0,Oklahoma State,3425510.0
Charlotte Hornets,Nicolas Batum,5.0,SG,27.0,6-8,200.0,Virginia Commonwealth,13125306.0
Chicago Bulls,Cameron Bairstow,41.0,PF,25.0,6-9,250.0,New Mexico,845059.0
Cleveland Cavaliers,Matthew Dellavedova,8.0,PG,25.0,6-4,198.0,Saint Mary's,1147276.0
Dallas Mavericks,Justin Anderson,1.0,SG,22.0,6-6,228.0,Virginia,1449000.0
Denver Nuggets,Darrell Arthur,0.0,PF,28.0,6-9,235.0,Kansas,2814000.0
Detroit Pistons,Joel Anthony,50.0,C,33.0,6-9,245.0,UNLV,2500000.0
Golden State Warriors,Leandro Barbosa,19.0,SG,33.0,6-3,194.0,North Carolina,2500000.0
Houston Rockets,Trevor Ariza,1.0,SF,30.0,6-8,215.0,UCLA,8193030.0
Indiana Pacers,Lavoy Allen,5.0,PF,27.0,6-9,255.0,Temple,4050000.0
Los Angeles Clippers,Cole Aldrich,45.0,C,27.0,6-11,250.0,Kansas,1100602.0
Los Angeles Lakers,Brandon Bass,2.0,PF,31.0,6-8,250.0,LSU,3000000.0
Memphis Grizzlies,Jordan Adams,3.0,SG,21.0,6-5,209.0,UCLA,1404600.0
Miami Heat,Chris Bosh,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
Milwaukee Bucks,Giannis Antetokounmpo,34.0,SF,21.0,6-11,222.0,Arizona,1953960.0
Minnesota Timberwolves,Nemanja Bjelica,88.0,PF,28.0,6-10,240.0,Louisville,3950001.0
New Orleans Pelicans,Alexis Ajinca,42.0,C,28.0,7-2,248.0,California,4389607.0
New York Knicks,Arron Afflalo,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0
Oklahoma City Thunder,Steven Adams,12.0,C,22.0,7-0,255.0,Pittsburgh,2279040.0
Orlando Magic,Dewayne Dedmon,3.0,C,26.0,7-0,245.0,USC,947276.0
Philadelphia 76ers,Elton Brand,42.0,PF,37.0,6-9,254.0,Duke,947276.0
Phoenix Suns,Eric Bledsoe,2.0,PG,26.0,6-1,190.0,Kentucky,13500000.0
Portland Trail Blazers,Cliff Alexander,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
Sacramento Kings,Quincy Acy,13.0,SF,25.0,6-7,240.0,Baylor,981348.0
San Antonio Spurs,LaMarcus Aldridge,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
Toronto Raptors,Bismack Biyombo,8.0,C,23.0,6-9,245.0,Missouri,2814000.0
Utah Jazz,Trevor Booker,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
Washington Wizards,Alan Anderson,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0

#### Display the data for 'Washington Wizards'

In [13]:
groups.get_group( 'Washington Wizards')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0
369,Bradley Beal,Washington Wizards,3.0,SG,22.0,6-5,207.0,Florida,5694674.0
370,Jared Dudley,Washington Wizards,1.0,SF,30.0,6-7,225.0,Boston College,4375000.0
371,Jarell Eddie,Washington Wizards,8.0,SG,24.0,6-7,218.0,Virginia Tech,561716.0
372,Drew Gooden,Washington Wizards,90.0,PF,34.0,6-10,250.0,Kansas,3300000.0
373,Marcin Gortat,Washington Wizards,13.0,C,32.0,6-11,240.0,NaN,11217391.0
374,JJ Hickson,Washington Wizards,21.0,C,27.0,6-9,242.0,North Carolina State,273038.0
375,Nene Hilario,Washington Wizards,42.0,C,33.0,6-11,250.0,NaN,13000000.0
376,Markieff Morris,Washington Wizards,5.0,PF,26.0,6-10,245.0,Kansas,8000000.0
377,Kelly Oubre Jr.,Washington Wizards,12.0,SF,20.0,6-7,205.0,Kansas,1920240.0
378,Otto Porter Jr.,Washington Wizards,22.0,SF,23.0,6-8,198.0,Georgetown,4662960.0
379,Ramon Sessions,Washington Wizards,7.0,PG,30.0,6-3,190.0,Nevada,2170465.0
380,Garrett Temple,Washington Wizards,17.0,SG,30.0,6-6,195.0,LSU,1100602.0
381,Marcus Thornton,Washington Wizards,15.0,SF,29.0,6-4,205.0,LSU,200600.0
382,John Wall,Washington Wizards,2.0,PG,25.0,6-4,195.0,Kentucky,15851950.0

#### What is the average age of each team? (Hint : We will use an aggregate function along with groupby function)

In [15]:
df.groupby('Team')["Age"].mean().sort_values()

Team
Utah Jazz                 24.466667
Milwaukee Bucks           24.562500
Philadelphia 76ers        24.600000
Boston Celtics            24.733333
Portland Trail Blazers    25.066667
Orlando Magic             25.071429
Brooklyn Nets             25.600000
Denver Nuggets            25.733333
Phoenix Suns              25.866667
Charlotte Hornets         26.133333
Toronto Raptors           26.133333
Detroit Pistons           26.200000
Minnesota Timberwolves    26.357143
Indiana Pacers            26.400000
Sacramento Kings          26.800000
Houston Rockets           26.866667
New Orleans Pelicans      26.894737
New York Knicks           27.000000
Oklahoma City Thunder     27.066667
Chicago Bulls             27.400000
Los Angeles Lakers        27.533333
Golden State Warriors     27.666667
Washington Wizards        27.866667
Atlanta Hawks             28.200000
Memphis Grizzlies         28.388889
Miami Heat                28.933333
Los Angeles Clippers      29.466667
Cleveland Cavaliers       29.533333
Dallas Mavericks          29.733333
San Antonio Spurs         31.600000
Name: Age, dtype: float64

#### Check average age and weight simultaneously for each team

In [16]:
df.groupby("Team")[['Age','Weight']].mean()

                              Age      Weight
Team
Atlanta Hawks           28.200000  221.266667
Boston Celtics          24.733333  219.466667
Brooklyn Nets           25.600000  215.600000
Charlotte Hornets       26.133333  220.400000
Chicago Bulls           27.400000  218.933333
Cleveland Cavaliers     29.533333  227.866667
Dallas Mavericks        29.733333  227.000000
Denver Nuggets          25.733333  217.533333
Detroit Pistons         26.200000  222.200000
Golden State Warriors   27.666667  224.600000
Houston Rockets         26.866667  220.333333
Indiana Pacers          26.400000  222.266667
Los Angeles Clippers    29.466667  219.733333
Los Angeles Lakers      27.533333  227.066667
Memphis Grizzlies       28.388889  218.000000
Miami Heat              28.933333  218.400000
Milwaukee Bucks         24.562500  224.062500
Minnesota Timberwolves  26.357143  228.642857
New Orleans Pelicans    26.894737  221.000000
New York Knicks         27.000000  223.625000
Oklahoma City Thunder   27.066667  229.400000
Orlando Magic           25.071429  213.357143
Philadelphia 76ers      24.600000  222.133333
Phoenix Suns            25.866667  218.600000
Portland Trail Blazers  25.066667  218.600000
Sacramento Kings        26.800000  221.333333
San Antonio Spurs       31.600000  223.933333
Toronto Raptors         26.133333  221.800000
Utah Jazz               24.466667  220.000000
Washington Wizards      27.866667  219.000000

#### What is the max salary given in each team?

In [27]:
df.groupby('Team')[['Salary']].max()

                            Salary
Team
Atlanta Hawks           18671659.0
Boston Celtics          12000000.0
Brooklyn Nets           19689000.0
Charlotte Hornets       13500000.0
Chicago Bulls           20093064.0
Cleveland Cavaliers     22970500.0
Dallas Mavericks        16407500.0
Denver Nuggets          14000000.0
Detroit Pistons         16000000.0
Golden State Warriors   15501000.0
Houston Rockets         22359364.0
Indiana Pacers          17120106.0
Los Angeles Clippers    21468695.0
Los Angeles Lakers      25000000.0
Memphis Grizzlies       19688000.0
Miami Heat              22192730.0
Milwaukee Bucks         16407500.0
Minnesota Timberwolves  12700000.0
New Orleans Pelicans    15514031.0
New York Knicks         22875000.0
Oklahoma City Thunder   20158622.0
Orlando Magic           11250000.0
Philadelphia 76ers       6500000.0
Phoenix Suns            13500000.0
Portland Trail Blazers   8042895.0
Sacramento Kings        15851950.0
San Antonio Spurs       19689000.0
Toronto Raptors         13600000.0
Utah Jazz               15409570.0
Washington Wizards      15851950.0

### 2. Pivot Tables

In [2]:
import datetime
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 6,
        "B": ["A", "B", "C"] * 8,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 4,
        "D": np.random.randn(24),
        "E": np.random.randn(24),
        "F": [datetime.datetime(2013, i, 1) for i in range(1, 13)]
        + [datetime.datetime(2013, i, 15) for i in range(1, 13)],
    }
)
df

        A  B    C         D         E          F
0     one  A  foo  0.505568  0.972284 2013-01-01
1     one  B  foo  0.578149 -1.529094 2013-02-01
2     two  C  foo  1.227940  0.896822 2013-03-01
3   three  A  bar -0.166115  0.512181 2013-04-01
4     one  B  bar  0.886999 -1.589884 2013-05-01
5     one  C  bar  1.527670 -0.371550 2013-06-01
6     two  A  foo -0.293885 -0.682422 2013-07-01
7   three  B  foo -0.535380 -0.200354 2013-08-01
8     one  C  foo  1.787303  0.129920 2013-09-01
9     one  A  bar -0.311058  0.297167 2013-10-01
10    two  B  bar -0.369689 -1.136934 2013-11-01
11  three  C  bar  1.011953 -0.542416 2013-12-01
12    one  A  foo  2.177346  1.667359 2013-01-15
13    one  B  foo -0.630582  0.613091 2013-02-15
14    two  C  foo  0.282192  0.048366 2013-03-15
15  three  A  bar  0.872441  0.836768 2013-04-15
16    one  B  bar -1.132534 -0.449431 2013-05-15
17    one  C  bar  1.896506 -0.819574 2013-06-15
18    two  A  foo -0.444880  0.120661 2013-07-15
19  three  B  foo -0.134489  0.975459 2013-08-15
20    one  C  foo  0.526983 -0.191709 2013-09-15
21    one  A  bar  0.035187 -1.096052 2013-10-15
22    two  B  bar -0.333446  1.508157 2013-11-15
23  three  C  bar -1.518590 -0.248550 2013-12-15

#### Create a pivot table for tha above dataframe and share your insights

In [4]:
pivot_table = df.pivot_table(index=['A', 'B'], columns=['C'], values=['D', 'E'], aggfunc='mean')
print(pivot_table)

                D                   E
C             bar       foo       bar       foo
A     B
one   A -0.137936  1.341457 -0.399443  1.319822
      B -0.122768 -0.026216 -1.019658 -0.458001
      C  1.712088  1.157143 -0.595562 -0.030895
three A  0.353163       NaN  0.674475       NaN
      B       NaN -0.334935       NaN  0.387553
      C -0.253319       NaN -0.395483       NaN
two   A       NaN -0.369383       NaN -0.280881
      B -0.351567       NaN  0.185612       NaN
      C       NaN  0.755066       NaN  0.472594

#### Create a pivot table for tha above dataframe with aggregation and share your insights

#### Create a pivot table for tha above dataframe with Grouper for index and column keywords and share your insights

#### Render a nice output of the table omitting the missing values by calling to_string()

#### Create a pivot table for tha above dataframe with margins and share your insights

- Hint: If we pass margins=True to pivot_table(), special All columns and rows will be added with partial group aggregates across the categories on the rows and columns:

#### Display a pivoted DataFrame as having a multi-level index:

### 3. Duplicates

In [3]:
import pandas as pd
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

#### Find the duplicate values in the above dataframe for the following conditions
- The first occurrence should be set as False and all others as True.
- The last occurrence on each set of duplicated values should be set on False and all others as True.
- All the duplicates should be displayed as True
- Find the duplicates on specific columns

In [4]:
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [5]:
df[df.duplicated()]

     brand style  rating
1  Yum Yum   cup     4.0

In [6]:
df[df.duplicated(['brand','style'])]

     brand style  rating
1  Yum Yum   cup     4.0
4  Indomie  pack     5.0

In [7]:
df.duplicated(keep=False)

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [8]:
df.duplicated(subset=['brand'])

0    False
1     True
2    False
3     True
4     True
dtype: bool

### 4. Saving and Loading dataframe

### Data loading
Loading Excel data

In [10]:
import pandas as pd
df = pd.read_excel('C:/Users/bhara/Downloads/Datasets+for+Practice+Exercise+C2-W03-DY02-PE02/Product_Data.xlsx')
df

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2           Printer    120
3            Laptop   1200

### Data saving

#### Save the dataframe df in csv, json. html & xml formats

In [ ]:
df,to_csv('C:/Users/bhara/Downloads/Datasets+for+Practice+Exercise+C2-W03-DY02-PE02/Product_Data.xlsx',index=False)

### Pickle method

##### Do not unpickle data from untrusted source

#### Pickle the dataframe in .pkl format and then load it

In [ ]:
import Pickle
df.to_pickle('C:/Users/bhara/Downloads/Datasets+for+Practice+Exercise+C2-W03-DY02-PE02/Product_Data.xlsx.pkl')

## Happy Learning :)